# Fraud Transaction Detection

we are going to include these features in our dataset:
TRANSACTION_ID, TX_DATETIME, CUSTOMER_ID, TERMINAL_ID, TX_AMOUNT, and TX_FRAUD.

### Transaction generation process
The simulation will consist of five main steps:

Generation of customer profiles: Every customer is different in their spending habits. This will be simulated by defining some properties for each customer. The main properties will be their geographical location, their spending frequency, and their spending amounts. The customer properties will be represented as a table, referred to as the customer profile table.

Generation of terminal profiles: Terminal properties will simply consist of a geographical location. The terminal properties will be represented as a table, referred to as the terminal profile table.

Association of customer profiles to terminals: We will assume that customers only make transactions on terminals that are within a radius of r of their geographical locations. This makes the simple assumption that a customer only makes transactions on terminals that are geographically close to their location. This step will consist of adding a feature ‘list_terminals’ to each customer profile, that contains the set of terminals that a customer can use.

Generation of transactions: The simulator will loop over the set of customer profiles, and generate transactions according to their properties (spending frequencies and amounts, and available terminals). This will result in a table of transactions.

Generation of fraud scenarios: This last step will label the transactions as legitimate or genuine. This will be done by following three different fraud scenarios.

### Customer profile generation 
CUSTOMER_ID: The customer unique ID

(x_customer_id,y_customer_id): A pair of real coordinates (x_customer_id,y_customer_id) in a 100 * 100 grid, that defines the geographical location of the customer

(mean_amount, std_amount): The mean and standard deviation of the transaction amounts for the customer, assuming that the transaction amounts follow a normal distribution. The mean_amount will be drawn from a uniform distribution (5,100) and the std_amount will be set as the mean_amount divided by two.

mean_nb_tx_per_day: The average number of transactions per day for the customer, assuming that the number of transactions per day follows a Poisson distribution. This number will be drawn from a uniform distribution (0,4).

In [1]:
import numpy as np
import pandas as pd
def customer_profile_generator(no_customer, random_state=0):
    np.random.seed(random_state)
    customer_id_properties = []
    for customer in range(no_customer):
        customer_id = customer
        x_customer_id = np.random.uniform(0,100)
        y_customer_id = np.random.uniform(0,100)
        mean_amount = np.random.uniform(5,100)
        std_amount = mean_amount/2 #Arbitary value
        mean_nb_tx_per_day = np.random.uniform(1,5)
        customer_id_properties.append([customer_id, x_customer_id,
                                       x_customer_id, mean_amount, 
                                       std_amount,mean_nb_tx_per_day])
    customer_profile_table = pd.DataFrame(customer_id_properties,
                                       columns = ['customer_id', 'x_customer_id',
                                                   'y_customer_id', 'mean_amount', 
                                                   'std_amount','mean_nb_tx_per_day'])
    return customer_profile_table

In [2]:
no_customers = 5 #input("enter the no of customers")
customer_profile = customer_profile_generator(no_customers)
customer_profile

,customer_id,x_customer_id,y_customer_id,mean_amount,std_amount,mean_nb_tx_per_day
0,0,54.881350,54.881350,62.262521,31.131260,3.179533
1,1,42.365480,42.365480,46.570785,23.285393,4.567092
2,2,96.366276,96.366276,80.213879,40.106939,3.115580
3,3,56.804456,56.804456,11.748426,5.874213,1.348517
4,4,2.021840,2.021840,78.924891,39.462446,4.480049

Now I have succesfully created the customer profile table lets move to next process

### Terminal profile generation

Each terminal will be defined by the following properties:

TERMINAL_ID: The terminal ID

(x_terminal_id,y_terminal_id): A pair of real coordinates (x_terminal_id,y_terminal_id) in a 100 * 100 grid, that defines the geographical location of the terminal

In [3]:
def terminal_profile_generator(no_terminals,random_state=0):
    np.random.seed(random_state)
    terminal_properties = []
    for terminal in range(no_terminals):
        terminal_id = terminal
        x_terminal_id = np.random.uniform(0,100)
        y_terminal_id = np.random.uniform(0,100)
        terminal_properties.append([terminal_id, x_terminal_id, y_terminal_id])
        
    terminal_profile_table = pd.DataFrame(terminal_properties,columns=['terminal_id',
                                                                      'x_terminal_id',
                                                                      'y_terminal_id'])
    return terminal_profile_table

In [4]:
no_terminals = 10
terminal_profile = terminal_profile_generator(no_terminals)
terminal_profile

   terminal_id  x_terminal_id  y_terminal_id
0            0      54.881350      71.518937
1            1      60.276338      54.488318
2            2      42.365480      64.589411
3            3      43.758721      89.177300
4            4      96.366276      38.344152
5            5      79.172504      52.889492
6            6      56.804456      92.559664
7            7       7.103606       8.712930
8            8       2.021840      83.261985
9            9      77.815675      87.001215

In [5]:
def get_list_terminals_within_radius(customer_profile,x_y_terminals,r):
    customer_x_y = customer_profile[['x_customer_id','y_customer_id']].values.astype(float)
    #let us get the distance now by differentiating
    square_diff = np.square(customer_x_y - x_y_terminals) #applying square to not change the sign values
    print("square_diff = ",square_diff)
    dist_x_y = np.sqrt(np.sum(square_diff,axis=1))
    print('dist_x_y = ',dist_x_y)
    available_terminals = list(np.where(dist_x_y<r)[0])
    
    return available_terminals

In [6]:
x_y_terminals = terminal_profile[['x_terminal_id','y_terminal_id']].values.astype(float)
get_list_terminals_within_radius = get_list_terminals_within_radius(customer_profile.iloc[4],x_y_terminals=x_y_terminals,r=50)
get_list_terminals_within_radius

square_diff =  [[2794.12786602 4829.84647658]
 [3393.58652129 2752.73137203]
 [1627.60930377 3914.70101125]
 [1741.96726751 7596.07426606]
 [8900.87266191 1319.31035909]
 [5952.22496555 2587.51804352]
 [3001.13505583 8197.09759009]
 [  25.82434645   44.77068841]
 [   0.         6599.96112887]
 [5744.70547721 7221.4941891 ]]
dist_x_y =  [ 87.31537289  78.39845594  74.44669445  96.63354249 101.09492085
  92.41072995 105.82170215   8.40208515  81.24014481 113.86922177]

[7]